@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F2EFFB;
}

#nav {
  background-color: #CECEF6;
  white-space: nowrap;
  flex-direction: column;
}

#log-history {
  display: flex;
  font-size: 14px;
  justify-content: center;
}

#form {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
#logcards {
  display: inline-block;
}

#create {
  background-color: #8181F7;
  border-radius: 12px;
  border-color: #8181F7;
  color: white;
  font-size: 15px;
  width: 30%;
  align-self: center;
}

#create:hover{
  background-color: #A9BCF5;
  border-color: #A9BCF5;
}

#view {
  background-color: #8181F7;
  border-radius: 12px;
  border-color: #8181F7;
  color: white;
  font-size: 14px;
  width: 30%;
  align-self: center;
}

#view:hover{
  background-color: #A9BCF5;
  border-color: #A9BCF5;
}

#msg {
  margin-right: 490px;
  font-family: monospace;
}

#signin {
  display: flex;
  background-color: #8181F7;
  border-color: #8181F7;
  border-radius: 20px;
}

#signin:hover {
  background-color: #A9BCF5;
  border-color: #A9BCF5;
}

#enter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#signout {
  background-color: #E6E0F8;
  border-color: #E6E0F8;
  color: black;
  font-size: 17px;
  margin-left: 650px;
}

#logform {
  background-color: #8181F7;
  border-color: #8181F7;
  margin-left: 200px;
}

#logform:hover {
  background-color: #A9BCF5;
  border-color: #A9BCF5;
}

#card.title {
  font-family: arial;
}

#edit{
  border-color: #A9BCF5;
  background-color: #A9BCF5;
  border-radius: 15px;
}

#logdel{
  border-color: #A9BCF5;
  background-color: #A9BCF5;
  border-radius: 15px;
}

#img{
  display: inline-block;
}

#choosepain{
  border-color: #8181F7;
  background-color: #8181F7;
  border-radius: 20px;
}

#choosepain:hover{
  background-color: #A9BCF5;
  border-color: #A9BCF5;
}

#closepain{
  border-color: #A9BCF5;
  background-color: #A9BCF5;
}

#savepain{
  border-color: #A9BCF5;
  background-color: #A9BCF5;
}

#history{
  width: 990px;
}

#footer{
  display: flex;
  flex-direction: column;
  min-height:5vh;
}

#welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #ffff;
}

::-webkit-scrollbar-thumb {
  background: #A9BCF5;
}

#symptoms {
  background-color:#8181F7;
  border-color: #8181F7;
  border-radius: 20px;
}

#savesymptom {
background-color:#A9BCF5;
border-color: #A9BCF5;
}

#closesymptom {
background-color:#A9BCF5;
border-color: #A9BCF5;
}

#symptoms:hover {
  background-color: #A9BCF5;
  border-color: #A9BCF5;
}

#search {
  width: 200px;
  align-items: center;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border-radius: 10rem;
  height: 30px;
  background-color: #d4d4f3;
  border-color:#d4d4f3
}

#levelsearch {
  font-size: 13px;
}
