@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E6E0F8;
}

#nav {
  background-color: #CECEF6;
}

#log-history {
  display: flex;
  font-size: 14px;
  justify-content: center;
}

#form {
  width: 900px;
  padding-left: 410px;
}

#logcards {
  display: inline-block;
}

#create {
  background-color: #F5EFFB;
  border-radius: 12px;
  border-color: #f1e3e9;
  color: black;
  font-size: 15px;
  font-family: arial;
  width: 30%;
  justify-self: center;
  margin-left: 180px;
}

#view {
  background-color: #F5EFFB;
  border-radius: 12px;
  border-color: #f1e3e9;
  color: black;
  font-size: 15px;
  font-family: arial;
  width: 30%;
  margin-left: 180px;
}
